/* Estilo para los botones */
.boton-opcion {
    -fx-background-color: white; 
    -fx-text-fill: black; 
    -fx-border-color: black; 
    -fx-border-width: 2px;
    -fx-font-size: 14px; 
}

.pregunta{
    -fx-font-size: 15px;
    -fx-fill: #0074D9;
    -fx-border-color: #2ECC40;
    -fx-font-weight: bold;
}

.historia, .resultado, .tiempo {
	-fx-font-size: 14px;
    -fx-fill: #333333;
    -fx-max-width: 50px;
    -fx-font-weight: bold;
}

.habitacion {
	-fx-font-size: 18px;
    -fx-fill: #B22222;
    -fx-font-weight: bold;
}

.vidas {
	-fx-font-size: 15px;
    -fx-fill: #B22222;
    -fx-font-weight: bold;
}
